.nav-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
}

.menu-toggle:focus-visible + .menu-icon {
    outline: 2px solid currentColor;
    outline-offset: 4px;
}

@media (max-width: 48em) {
    .menu-icon {
        display: block;
        text-align: center;
        font-size: 2rem;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle:checked ~ .nav-menu {
        display: flex;
    }
}
